# data
input/test
input/train
input/EfficientNet-PyTorch-3D

# cache
src/__pycache__
src/__pycache__/utils.cpython-36.pyc

# 
data_ignore
data

# 
.DS_Store
# .gitignore

# Docker
Dockerfile
docker-compose.yml
.devcontainer

# pkl
model_paths.pkl
session.pkl
statedict.txt
*.pkl

# img
*.png
*.jpg